@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

section {
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  height: 100vh;
  overflow: hidden;
  /* background: radial-gradient(ellipse at left, #00303F -30%,#000 100%); */
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)); */
}

.bg-black-transparent {
  /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)); */
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}

#title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes shooting-ani {
  0% {
    
  }
  50% {
    transform:scale(1) rotate(-45deg) translate(0px, 0px);
  }
  100% {
    transform:scale(0.5) rotate(-45deg) translate(0px, -1px);
  }
}

@keyframes star-ani {
  0% {
    opacity:0;
    transform:scale(0) rotate(0) translate3d(0, 0, 0);
  }
  50% {
    opacity:1;
    transform:scale(1) rotate(0) translate3d(-200px, 200px, 0);
  }
  100% {
    opacity:0;
    transform:scale(1) rotate(0) translate3d(-300px, 300px, 0);
  }
}

.star {
  display:block;
  width:4px;
  height:4px;
  border-radius:50%;
  background:#FFF;
  top:100px;
  left:400px;
  position:relative;
  transform-origin:100% 0;
  animation:star-ani 1s infinite ease-out;
  animation-direction: normal;
  opacity:0;
}

.star:after {
  content:'';
  position:absolute;
  top:0px;
  left:4px;
  border:2px solid #F00;
  border-width:2px 150px 2px 150px; 
  border-color:transparent transparent transparent #FFF;
  transform:rotate(-45deg) translate3d(1px, -1px, 0);
  transform-origin:0% 100%;
  animation:shooting-ani 1s infinite  ease-out;
  animation-direction: normal;
}

.pink {
  top:150px;
  left:500px;
  background:#ff5a99;
  animation-delay:1.8s;
}
.pink:after {
  border-color:transparent transparent transparent #ff5a99 ;
  animation-delay:1.8s;
}

.blue {
  top:100px;
  left:450px;
  background:#4dabff ;
  animation-delay:4.5s;
}
.blue:after {
  border-color:transparent transparent transparent #4dabff;
  animation-delay:4.5s;
}

.yellow {
  top:50px;
  left:600px;
  background:#ffcd5c;
  animation-delay:5.8s;
}

.yellow:after {
  border-color:transparent transparent transparent #ffcd5c;
  animation-delay:5.8s;
}

.containerTop {
  width: 100%;
  height: 500px;
  background: #000;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 90% 100%, 93% 90%, 99% 59%, 99% 56%, 80% 0%);
  clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 90% 100%, 93% 90%, 99% 59%, 99% 56%, 80% 0%);
  outline: 2px solid #D9D9D9;
  transition: all 0.5s;

  @media (min-width: 768px) {
    height: 400px;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 75% 100%, 93% 70%, 99% 59%, 99% 56%, 75% 0%);
    clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 75% 100%, 93% 70%, 99% 59%, 99% 56%, 75% 0%);
  }

  @media (min-width: 1024px) {
    height: 350px;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 75% 100%, 93% 70%, 99% 59%, 99% 56%, 75% 0%);
    clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 75% 100%, 93% 70%, 99% 59%, 99% 56%, 75% 0%);
  }

  @media (min-width: 1280px) {
    height: 300px;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 75% 100%, 93% 70%, 99% 59%, 99% 56%, 75% 0%);
    clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 75% 100%, 93% 70%, 99% 59%, 99% 56%, 75% 0%);
  }
}

.mask-img-gradient {
  mask-image: linear-gradient(#000 75%, transparent 95%);
  -webkit-mask-image: linear-gradient(#000 75%, transparent 95%);
}

.mask-img-gradient-min {
  mask-image: linear-gradient(#000 95%, transparent 100%);
  -webkit-mask-image: linear-gradient(#000 95%, transparent 100%);
}

.mask-img-gradient-top {
  mask-image: linear-gradient(to top, #000 98%, transparent 100%);
  -webkit-mask-image: linear-gradient(to top, #000 98%, transparent 100%);
}

.swiperTop .swiper-wrapper .swiper-slide{
  transition: all 0.5s;
}

.swiperTop .swiper-wrapper .swiper-slide-active{
  width: 100% !important;

  .containerTop{
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 90% 100%, 93% 90%, 99% 59%, 99% 56%, 90% 0%);
    clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 90% 100%, 93% 90%, 99% 59%, 99% 56%, 90% 0%);
  }

  @media (min-width: 768px) {
    width: 65% !important;
  }

  @media (min-width: 1024px) {
    width: 55% !important;
  }

  @media (min-width: 1280px) {
    width: 45% !important;
  }
}

.parallax-mouse{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}

.parallax-mouse div .parallax-element{
  position: relative;

  @media (min-width: 768px) {
    position: absolute;
  }
}

#particles{
  position: absolute;
  top: 0px;
}

.bg-gold {
  background: repeating-linear-gradient(to right, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%);
  background-size: 150%;
  filter: drop-shadow(0 0 1px rgba(255, 200, 0, .3));
  animation: MoveBackgroundPosition 6s ease-in-out infinite;
}

@keyframes MoveBackgroundPosition { 
  0% {
    background-position: 0% 50%
  }
  
  50% {
    background-position: 100% 50%
  }
  
  100% {
    background-position: 0% 50%
  }
}